.expense-card{
    padding: 30px;
    background-color: #fcfcfc;
    border-radius: 3px;
}
.expense-card .card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.btn-clear{
    padding: 14px;
    border-radius: 3px;
    border: none;
    background-color: inherit;
    color: #666;
    cursor: pointer;
    font-weight: bold;
    transition: all .2s;
}
.expense-card .title{
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #444;
}

.expense-card .stat-card{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
.expense-card .stat-card .block{
    width: 100%;
    padding: 30px;
    text-align: center;
}
.expense-card .stat-card .block p:not(.value){
    font-size: 20px;
}
.expense-card .stat-card .block .value{
    margin-top: 20px;
}
.expense-card .stat-card .block.income{
    color: green;
    font-weight: bold;
    border-right: 1px solid #ccc;
}
.expense-card .stat-card .block.expense{
    color: salmon;
    font-weight: bold;
}

.savings {
    padding: 30px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    color: dodgerblue;
    max-width: 450px;
    margin: 20px auto;
    font-weight: bold;
}
.savings p:nth-child(1){
    margin-bottom: 10px;
    color: dodgerblue;
    font-weight: bold;
    font-size: 20px;
}