.form-container{
    margin-top: 30px;
    border-radius: 3px;
    width: 100%;
    padding: 30px;
    border: 1px solid #ccc;
}
.form-container .title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-container .field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-container .field label{
    font-size: 15px;
    font-weight: 500;
    color: #555;
    margin-bottom: 10px;
}
.form-container .field input{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.form-container .field input:focus{
    border: 1px solid green;
}
.form-container  button{
    padding: 14px 18px;
    border-radius: 3px;
    border: none;
    background-color: #deffdb;
    color: green;
    cursor: pointer;
    font-weight: bold;
    transition: all .2s;
}
.form-container  button:hover{
    background-color: green;
    color: #fff;
}