/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #fff;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}


@media (max-width: 500px) {
    .logo img{
        width: 100px !important;
    }
    button{
        width: auto;
        padding: 8px !important;
        font-size: 12px;
    }
}